*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary:#395144;
    --secundary: #4E6C50;
    --light: #AA8B56;
    --info: #F0EBCE;
}

.text-light{
    color: var(--light);
}

.bg-primary{
    background-color: var(--primary);
}

.text-secundary{
    color: var(--secundary);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.width-100{
    width:100px;
}
 
.bg-info{
    background-color: var(--info);
}